.card.app-status

  .card-block
    h3.card-title
      | Application Status
    .card-text
      p.lead Your application with Haiku <span class="tag tag-pill tag-success">#{@app.haiku}</span> is <strong>#{@app.status.split('_').join(' ').upcase}</strong>.
      table.table.table-bordered.table-striped
        tr
          th TITLE
          td== @app.show_title
        - @app.attributes.slice('status').each do |k, v|
          tr
            th== k.upcase
            td== v
        tr
          th Location
          td
            == image_tag "http://maps.googleapis.com/maps/api/staticmap?center=&zoom=15&scale=false&size=300x150&maptype=roadmap&key=AIzaSyD261ddSiWDpiqVEHGYiQMNijanmVBEZrs&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:1%7C#{@app.latitude},+#{@app.longitude}"
            br
            == "#{@app.latitude.to_s}, #{@app.longitude.to_s}"