== simple_form_for @app do |f|
  == f.input :title
  == f.input :first_name
  == f.input :last_name
  == f.input :address1, label: 'Address'
  == f.input :city
  == f.input :state
  == f.input :zip, as: :integer
  == f.submit