.alert.alert-warning
  | <strong>YOUR APPLICATION IS APPROVED!</strong> Please print your ID card.
.row
  .col-md-6
    .card
      .card-block
        h3.card-title
          | Member ID Card
        .card-text
          table.table
            tr
              th Name
              td== "#{@app.last_name}, #{@app.first_name}"
            tr
              th Card #
              td== @app.card.card_number
            tr
              th Expires
              td== @app.card.expiration.strftime('%m/%d/%Y')
  .cold-md-6
    == link_to 'Print PDF ID Card', card_application_path(@app, format: :pdf), class: 'btn btn-primary'