.card
  .card-block
    h3.card-title Notices
    .card-text
      div.alert.alert-success
        | This is the most up-to-date information about your application.
      - if @app.card
        div.alert.alert-info
          | Card Issued: #{@app.card.card_number}
        div.alert.alert-warning
          | Please renew by #{(@app.card.expiration - 1.day).strftime('%m/%d/%Y')}
      - if flash.notice
        div.alert.alert-warning
          == flash.notice