table.table.table-condensed.table-striped.table-bordered
  thead
    tr
      th Document
      th Status
      th Upload File
      - if current_user.admin
        th Actions
  tbody
    - @app.application_supplements.order(id: :asc).each do |s|
      tr
        td== s.title
        td== s.status
        td
          - if s.waiting?
            == form_for [@app, s] do |form|
              == form.file_field :document
              == form.submit "Upload"
          - else
              | Uploaded -
              == link_to "Preview", s.document.url
        - if current_user.admin
          td
            == link_to "Approve", approve_application_application_supplement_path(@app, s) unless s.approved? or s.denied?
            == link_to "Deny", deny_application_application_supplement_path(@app, s) unless s.denied? or s.approved?
