h1 All Applications
table.table-bordered.table-striped.table.table-condensed
  thead
    tr
      th Title
      th Status
      th Haiku
  tbody
    - @apps.each do |app|
      tr
        td== link_to app.show_title, app
        td== app.status
        td== app.haiku