h1 Application System
.row
  .col-md-8
    == render 'app_card'
  .col-md-4
    == render 'notices'
    - if @app.card
      == link_to 'Print PDF ID Card', card_application_path(@app, format: :pdf), class: 'btn btn-primary'
    == render 'audit'

== render 'supplements'
- if !@app.approved? && params['apv'] == 'true'
  == form_tag approve_application_path(@app), method: :patch do |f|
    == button_tag 'Approve'
// render 'id_card' if @app.approved?