h1 Application Denied
p = "Your application (#{@application.token}) was denied."
p You may re-apply if your circumstances have changed.  You will need to resubmit all required documentation and pay any fees if applicable.
