h1 Documents Received
p We have received the following documents for your application:
ul
  - @application.application_supplements.each do |sup|
    li = sup.title + ' (' + sup.status + ')'
p We will contact you if there is an issue with any of the documents, and once a decision has been made regarding your application.
