<!DOCTYPE html>
<html>
  <head>
    <title>MembershipApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <% if user_signed_in? %>
        <%= current_user.email %> - <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'btn btn-danger btn-sm' %>
          - <%= link_to "New Application", new_application_path, class: 'btn btn-success btn-sm' %>
      <% end %>
      <hr>
      <%= yield %>
    </div>
  </body>
</html>
